@import 'vars.less';

body{
	background-color:@cinza_claro;
	header{
		height:155px;
		background:url('../_imgs/layout/bg_topo.png') left top repeat-x;
		.centro{
			background:url('../_imgs/layout/cabecalho.png') center top no-repeat;
			position:relative;
			height:165px;
			#social{
				width:110px;
				position:absolute;
				top:15px;
				left:0;
				height:25px;
				font-size:0; white-space:nowrap;
				
				a{
					width:25px;
					height:25px;
					margin-right:2px;
					.inline;
				}				
			}
			#login{
				width:300px;
				text-align:right;
				position:absolute;
				top:15px;
				right:0;
				height:40px;
				overflow:hidden;
				.calibri(12px);
				color:#000;
				.camada{
					.transition;
					height:40px;
					width:300px;
					position:absolute;
					top:0;
					left:0;
					opacity:0;
					background:#d1d3d4;
					z-index:1;		
					&.botao{
						top:40px;
						.calibri(12px);
						color:#000;
						&.visivel{
							top:0;
							opacity:1;
							z-index:999;
						}
						a.login{
							color:#000;
							.transition;
							&:active, &:visited{ color:#000; }
							&:hover{
								color:@vermelho;
							}
						}
						a.logout{
							color:#fff;
							text-align:center;
							background-color:@cinza_escuro;
							.inline;
							.transition;
							padding:2px 4px;
							height:12px;
							line-height:12px;
							.calibri(12px);
							.arredondada(3px);
							width:27px;
							margin-left:10px;
							&:active, &:visited{color:#fff;}
							&:hover{
								background-color:@vermelho;
							}
						}					
					}
					&.formulario{
						&.visivel{
							top:0;
							opacity:1;
							z-index:999;
						}
						top:40px;
						height:22px;
						white-space:nowrap;
						font-size:0; white-space:nowrap;
						
						input[type="password"],
						input[type="text"]{
							margin:0;
							padding:2px 4px;
							border:0;
							height:18px;
							line-height:18px;
							.calibri(12px);
							color:#000;
							.arredondada(5px);
							.inline;
							width:117px;
						}
						input[type="password"]{margin:0 5px;}
						input[type="submit"]{
							width:40px;
							.arredondada(5px);
							height:22px;
							line-height:22px;
							border:0;
							.calibri(14px, bold);
							background:@vermelho;
							color:#fff;
							text-align:center;
							.inline;
							.transition;
							&:hover{
								cursor:pointer;
								background:@cinza_escuro;
							}
						}
						a.recup{
							display:block;
							text-align:right;
							margin-top:4px;
							margin-right:45px;
							.calibri(10px);							
							color:@vermelho;
							text-decoration:none;
							.transition;
							&:active, &:visited{ color:@vermelho; }
							&:hover{
								text-decoration:underline;
							}
						}
					}
					&.resposta-login{
						&.visivel{
							top:0;
							opacity:1;
							z-index:999999;
						}
						top:80px;
						display:block;
						height:22px;
						line-height:22px;
						text-align:center;
						.calibri(10px);
						.arredondada(5px);
						border:1px #D8000C solid;
						width:298px;
						color:#D8000C;
						background-color:#FFBABA;
					}
				}
			}
			nav{
				width:@largura;
				position:absolute;
				left:0;
				top:104px;
				ul{
					width:@largura;
					font-size:0; white-space:nowrap;
					li{
						.inline;
						width:160px;
						height:22px;
						line-height:22px;
						margin-right:5px;
						position:relative;
						&.gap{ margin-right:330px; }
						&.ultimo{ margin-right:0; }
						a{

							display: block;
							height:22px;
							line-height:22px;
							background-color:@vermelho;
							color:#fff;
							.calibri(14px, bold);
							.arredondada(5px);
							.transition;
							text-align:center;
							&:active, &:visited{color:#fff;}
							&:hover, &.ativo{
								background-color:@cinza_escuro;
							}
						}
					}
				}
			}
		}
	}
	.main{
		padding:25px 0 40px 0;
		min-height:500px;
		h1{
			.yanone(42px);
			color:@vermelho;
		}
		h2{
			.yanone(32px);
			color:@vermelho;
		}
		p{
			.calibri(14px);
			color:@cinza_mais_escuro;
		}
		&.main-quem_somos{
			h1{ line-height:120%; }
			p{
				.yanone(25px);
				color:@cinza_mais_escuro;
				line-height:120%;
				margin:30px 0;
				.vermelho{
					color:@vermelho;
				}
			}
		}
		&.main-como_funciona{
			background:url('../_imgs/layout/fundo-como-funciona.png') right top no-repeat;
			h1{ margin-bottom:3px; .yanone(40px); line-height:120%; }
			p{
				.yanone(20px);
				color:@cinza_mais_escuro;
				line-height:120%;
				margin:25px 0;
				.vermelho{
					color:@vermelho;
				}
				&.no-top-margin{ margin-top:0; }
			}			
		}
		&.main-noticias{
			h1{
				margin-bottom:30px;
			}
			.link-noticias{
				.inline;
				padding:14px;
				width:440px;
				background-color:#DCDCDC;
				.arredondada(15px);
				margin-bottom:15px;
				.transition;
				&.margem{ margin-right:38px;}
				h2{
					.transition;
					.yanone(18px);
					margin-bottom:15px;
					color:@vermelho;
					line-height:110%;
				}
				p{
					.transition;
					.yanone(14px);
					line-height:110%;
					color:@cinza_mais_escuro;
				}
				.saiba-mais{
					.transition;
					text-align:right;
					color:@vermelho;
					.calibri(14px, bold);
				}
				&:hover{
					background-color:@cinza_mais_escuro;
					color:#fff;
					h2, p, .saiba-mais{ color:#fff; }
				}
			}
		}
		&.main-politica{
			background:url('../_imgs/layout/bg-politica.png') right 25px no-repeat;
			h1{
				.yanone(30px);
				color:@vermelho;
				margin-bottom:25px;
			}
			p{
				.yanone(14px);
				line-height:115%;
				margin:15px 0;
				color:@cinza_mais_escuro;
			}
		}
		&.main-contato{
			h1{
				font-size:30px;
				margin-bottom:30px;
			}
			.container{
				font-size:0; white-space:nowrap;
				
				.formulario{
					width:570px;
					.inline;
					label{
						padding:7px 2px 3px 8px;
						.inline;
						margin-bottom:8px;
						height:30px;
						line-height:100%;
						width:465px;
						color:#000;
						text-align:left !important;
						background-color:@cinza_medio;
						.arredondada(6px);
						.calibri(10px);
						input[type="text"],input[type="email"]{
							height:22px;
							line-height:22px;
							width:465px;
							margin:0;
							padding:0;
							border:0;
							background-color:@cinza_medio;
							.calibri(20px);
							color:#000;
							&:disabled{
								color:@cinza_escuro;
							}
						}
						&.metade{
							width:223px;
							&.margem{ margin-right:9px; }
							input{
								width:223px;
							}
						}
						&.alto{
							margin-bottom:0;
							vertical-align:bottom;
							height:auto;
							margin-right:7px;
							textarea{
								background-color:@cinza_medio;
								vertical-align:bottom;
								margin:0;
								border:0;
								padding:0;
								resize:none;
								overflow:auto;
								height:180px;
								width:465px;
								.calibri(20px);
								color:#000;
							}
						}
					}
					input[type="submit"]{
						.yanone(25px);
						color:#fff;
						text-align:center;
						width:88px;
						vertical-align:bottom;
						border:0;
						padding:0;
						margin:0;
						background:@vermelho;
						height:40px;
						line-height:40px;
						.arredondada(6px);
						.transition;
						&:hover{
							cursor:pointer;
							background:@cinza_mais_escuro;
						}
					}
				}
				.informacoes{
					.inline;
					width:250px;
					margin-left:-82px;
					h1{
						.yanone(27px);
						color:@vermelho;
						margin:3px 0;
					}
					h2{
						.yanone(20px);
						color:#4D4D4D;
						line-height:110%;						
					}
					p{
						.yanone(17px);
						color:#606062;
						line-height:115%;
						margin-top:30px;
					}
				}
			}
		}
		&.main-faq{
			h1{
				.yanone(30px);
				margin-bottom:20px;
			}
			#indice{
				ul{
					list-style:none;
					margin-bottom:30px;
					li{
						.calibri(16px);
						color:#000;
						a{
							.calibri(16px);
							color:#000;
							.transition;
							&:active, &:visited{ color:#000; }
							&:hover{
								color:@vermelho;
							}
						}
					}
				}
			}
			#conteudo{
				h2{
					.calibri(16px, normal);
					color:@vermelho;
					margin-bottom:10px;
				}
				.texto{
					margin-bottom:38px;
					.calibri(14px);
					color:#333;
				}
			}
		}
		&.main-login{
			#recuperacao{
				p{
					margin:40px 0;
				}
				form{
					.yanone(17px);
					color:#606062;
					label{
						padding:7px 2px 3px 8px;
						.inline;
						margin-bottom:8px;
						height:30px;
						line-height:100%;
						width:165px;
						color:#000;
						text-align:left !important;
						background-color:@cinza_medio;
						.arredondada(6px);
						.calibri(10px);
						input[type="text"]{
							height:22px;
							line-height:22px;
							width:165px;
							margin:0;
							padding:0;
							border:0;
							background-color:@cinza_medio;
							.calibri(20px);
							color:#000;
						}
					}
					input[type="submit"]{
						.yanone(18px);
						color:#fff;
						text-align:center;
						vertical-align:baseline;
						border:0;
						padding:0 12px;
						margin:0;
						margin-left:6px;
						background:@vermelho;
						height:40px;
						line-height:30px;
						.arredondada(6px);
						.transition;
						&:hover{
							cursor:pointer;
							background:@cinza_mais_escuro;
						}
					}
				}
			}
		}
	}
	footer{
		background-color: @cinza_mais_escuro;
		min-width:980px;
		.centro{
			padding-top:22px;
			padding-bottom:30px;
			.coluna{
				.inline;
				width:140px;
				color:#fff;
				h4{
					.calibri(12px, bold);
				}
				ul{
					margin:2px 0;
					list-style: none;
					li{
						.calibri(8px);
						a{
							padding:0 2px;
							.calibri(12px);
							color:#fff;
							.transition;
							&:active, &:visited{ color:#fff; }
							&:hover{
								color:@vermelho;
							}
						}
					}
				}
			}
			#assinatura{
				float:right;
				text-align:right;
				.calibri(10px);
				color:#fff;
				a{
					color:#fff;
					border-bottom:1px transparent dotted;
					.transition;
					&:active, &:visited{
						color:#fff;
					}
					&:hover{
						border-bottom:1px #fff dotted;
					}
				}
			}
		}
	}
}