.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
body {
  background-color: #e8e8e8;
}
body header {
  height: 155px;
  background: url('../_imgs/layout/bg_topo.png') left top repeat-x;
}
body header .centro {
  background: url('../_imgs/layout/cabecalho.png') center top no-repeat;
  position: relative;
  height: 165px;
}
body header .centro #social {
  width: 110px;
  position: absolute;
  top: 15px;
  left: 0;
  height: 25px;
  font-size: 0;
  white-space: nowrap;
}
body header .centro #social a {
  width: 25px;
  height: 25px;
  margin-right: 2px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body header .centro #login {
  width: 300px;
  text-align: right;
  position: absolute;
  top: 15px;
  right: 0;
  height: 40px;
  overflow: hidden;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000;
}
body header .centro #login .camada {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  height: 40px;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #d1d3d4;
  z-index: 1;
}
body header .centro #login .camada.botao {
  top: 40px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000;
}
body header .centro #login .camada.botao.visivel {
  top: 0;
  opacity: 1;
  z-index: 999;
}
body header .centro #login .camada.botao a.login {
  color: #000;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header .centro #login .camada.botao a.login:active,
body header .centro #login .camada.botao a.login:visited {
  color: #000;
}
body header .centro #login .camada.botao a.login:hover {
  color: #990000;
}
body header .centro #login .camada.botao a.logout {
  color: #fff;
  text-align: center;
  background-color: #666666;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 2px 4px;
  height: 12px;
  line-height: 12px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width: 27px;
  margin-left: 10px;
}
body header .centro #login .camada.botao a.logout:active,
body header .centro #login .camada.botao a.logout:visited {
  color: #fff;
}
body header .centro #login .camada.botao a.logout:hover {
  background-color: #990000;
}
body header .centro #login .camada.formulario {
  top: 40px;
  height: 22px;
  font-size: 0;
  white-space: nowrap;
}
body header .centro #login .camada.formulario.visivel {
  top: 0;
  opacity: 1;
  z-index: 999;
}
body header .centro #login .camada.formulario input[type="password"],
body header .centro #login .camada.formulario input[type="text"] {
  margin: 0;
  padding: 2px 4px;
  border: 0;
  height: 18px;
  line-height: 18px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 117px;
}
body header .centro #login .camada.formulario input[type="password"] {
  margin: 0 5px;
}
body header .centro #login .camada.formulario input[type="submit"] {
  width: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 22px;
  line-height: 22px;
  border: 0;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: bold;
  background: #990000;
  color: #fff;
  text-align: center;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header .centro #login .camada.formulario input[type="submit"]:hover {
  cursor: pointer;
  background: #666666;
}
body header .centro #login .camada.formulario a.recup {
  display: block;
  text-align: right;
  margin-top: 4px;
  margin-right: 45px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #990000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header .centro #login .camada.formulario a.recup:active,
body header .centro #login .camada.formulario a.recup:visited {
  color: #990000;
}
body header .centro #login .camada.formulario a.recup:hover {
  text-decoration: underline;
}
body header .centro #login .camada.resposta-login {
  top: 80px;
  display: block;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 10px;
  font-weight: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px #D8000C solid;
  width: 298px;
  color: #D8000C;
  background-color: #FFBABA;
}
body header .centro #login .camada.resposta-login.visivel {
  top: 0;
  opacity: 1;
  z-index: 999999;
}
body header .centro nav {
  width: 980px;
  position: absolute;
  left: 0;
  top: 104px;
}
body header .centro nav ul {
  width: 980px;
  font-size: 0;
  white-space: nowrap;
}
body header .centro nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 160px;
  height: 22px;
  line-height: 22px;
  margin-right: 5px;
  position: relative;
}
body header .centro nav ul li.gap {
  margin-right: 330px;
}
body header .centro nav ul li.ultimo {
  margin-right: 0;
}
body header .centro nav ul li a {
  display: block;
  height: 22px;
  line-height: 22px;
  background-color: #990000;
  color: #fff;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-align: center;
}
body header .centro nav ul li a:active,
body header .centro nav ul li a:visited {
  color: #fff;
}
body header .centro nav ul li a:hover,
body header .centro nav ul li a.ativo {
  background-color: #666666;
}
body .main {
  padding: 25px 0 40px 0;
  min-height: 500px;
}
body .main h1 {
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: #990000;
}
body .main h2 {
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #990000;
}
body .main p {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #4d4d4d;
}
body .main.main-quem_somos h1 {
  line-height: 120%;
}
body .main.main-quem_somos p {
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #4d4d4d;
  line-height: 120%;
  margin: 30px 0;
}
body .main.main-quem_somos p .vermelho {
  color: #990000;
}
body .main.main-como_funciona {
  background: url('../_imgs/layout/fundo-como-funciona.png') right top no-repeat;
}
body .main.main-como_funciona h1 {
  margin-bottom: 3px;
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 120%;
}
body .main.main-como_funciona p {
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #4d4d4d;
  line-height: 120%;
  margin: 25px 0;
}
body .main.main-como_funciona p .vermelho {
  color: #990000;
}
body .main.main-como_funciona p.no-top-margin {
  margin-top: 0;
}
body .main.main-noticias h1 {
  margin-bottom: 30px;
}
body .main.main-noticias .link-noticias {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 14px;
  width: 440px;
  background-color: #DCDCDC;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-noticias .link-noticias.margem {
  margin-right: 38px;
}
body .main.main-noticias .link-noticias h2 {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
  color: #990000;
  line-height: 110%;
}
body .main.main-noticias .link-noticias p {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 110%;
  color: #4d4d4d;
}
body .main.main-noticias .link-noticias .saiba-mais {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-align: right;
  color: #990000;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
body .main.main-noticias .link-noticias:hover {
  background-color: #4d4d4d;
  color: #fff;
}
body .main.main-noticias .link-noticias:hover h2,
body .main.main-noticias .link-noticias:hover p,
body .main.main-noticias .link-noticias:hover .saiba-mais {
  color: #fff;
}
body .main.main-politica {
  background: url('../_imgs/layout/bg-politica.png') right 25px no-repeat;
}
body .main.main-politica h1 {
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #990000;
  margin-bottom: 25px;
}
body .main.main-politica p {
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 115%;
  margin: 15px 0;
  color: #4d4d4d;
}
body .main.main-contato h1 {
  font-size: 30px;
  margin-bottom: 30px;
}
body .main.main-contato .container {
  font-size: 0;
  white-space: nowrap;
}
body .main.main-contato .container .formulario {
  width: 570px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .main.main-contato .container .formulario label {
  padding: 7px 2px 3px 8px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-bottom: 8px;
  height: 30px;
  line-height: 100%;
  width: 465px;
  color: #000;
  text-align: left !important;
  background-color: #d6d7d9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 10px;
  font-weight: normal;
}
body .main.main-contato .container .formulario label input[type="text"],
body .main.main-contato .container .formulario label input[type="email"] {
  height: 22px;
  line-height: 22px;
  width: 465px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #d6d7d9;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #000;
}
body .main.main-contato .container .formulario label input[type="text"]:disabled,
body .main.main-contato .container .formulario label input[type="email"]:disabled {
  color: #666666;
}
body .main.main-contato .container .formulario label.metade {
  width: 223px;
}
body .main.main-contato .container .formulario label.metade.margem {
  margin-right: 9px;
}
body .main.main-contato .container .formulario label.metade input {
  width: 223px;
}
body .main.main-contato .container .formulario label.alto {
  margin-bottom: 0;
  vertical-align: bottom;
  height: auto;
  margin-right: 7px;
}
body .main.main-contato .container .formulario label.alto textarea {
  background-color: #d6d7d9;
  vertical-align: bottom;
  margin: 0;
  border: 0;
  padding: 0;
  resize: none;
  overflow: auto;
  height: 180px;
  width: 465px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #000;
}
body .main.main-contato .container .formulario input[type="submit"] {
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  width: 88px;
  vertical-align: bottom;
  border: 0;
  padding: 0;
  margin: 0;
  background: #990000;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-contato .container .formulario input[type="submit"]:hover {
  cursor: pointer;
  background: #4d4d4d;
}
body .main.main-contato .container .informacoes {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 250px;
  margin-left: -82px;
}
body .main.main-contato .container .informacoes h1 {
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 27px;
  font-weight: normal;
  color: #990000;
  margin: 3px 0;
}
body .main.main-contato .container .informacoes h2 {
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #4D4D4D;
  line-height: 110%;
}
body .main.main-contato .container .informacoes p {
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #606062;
  line-height: 115%;
  margin-top: 30px;
}
body .main.main-faq h1 {
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}
body .main.main-faq #indice ul {
  list-style: none;
  margin-bottom: 30px;
}
body .main.main-faq #indice ul li {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
}
body .main.main-faq #indice ul li a {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-faq #indice ul li a:active,
body .main.main-faq #indice ul li a:visited {
  color: #000;
}
body .main.main-faq #indice ul li a:hover {
  color: #990000;
}
body .main.main-faq #conteudo h2 {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #990000;
  margin-bottom: 10px;
}
body .main.main-faq #conteudo .texto {
  margin-bottom: 38px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333;
}
body .main.main-login #recuperacao p {
  margin: 40px 0;
}
body .main.main-login #recuperacao form {
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #606062;
}
body .main.main-login #recuperacao form label {
  padding: 7px 2px 3px 8px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-bottom: 8px;
  height: 30px;
  line-height: 100%;
  width: 165px;
  color: #000;
  text-align: left !important;
  background-color: #d6d7d9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 10px;
  font-weight: normal;
}
body .main.main-login #recuperacao form label input[type="text"] {
  height: 22px;
  line-height: 22px;
  width: 165px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #d6d7d9;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #000;
}
body .main.main-login #recuperacao form input[type="submit"] {
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  vertical-align: baseline;
  border: 0;
  padding: 0 12px;
  margin: 0;
  margin-left: 6px;
  background: #990000;
  height: 40px;
  line-height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-login #recuperacao form input[type="submit"]:hover {
  cursor: pointer;
  background: #4d4d4d;
}
body footer {
  background-color: #4d4d4d;
  min-width: 980px;
}
body footer .centro {
  padding-top: 22px;
  padding-bottom: 30px;
}
body footer .centro .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 140px;
  color: #fff;
}
body footer .centro .coluna h4 {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
body footer .centro .coluna ul {
  margin: 2px 0;
  list-style: none;
}
body footer .centro .coluna ul li {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 8px;
  font-weight: normal;
}
body footer .centro .coluna ul li a {
  padding: 0 2px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body footer .centro .coluna ul li a:active,
body footer .centro .coluna ul li a:visited {
  color: #fff;
}
body footer .centro .coluna ul li a:hover {
  color: #990000;
}
body footer .centro #assinatura {
  float: right;
  text-align: right;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #fff;
}
body footer .centro #assinatura a {
  color: #fff;
  border-bottom: 1px transparent dotted;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body footer .centro #assinatura a:active,
body footer .centro #assinatura a:visited {
  color: #fff;
}
body footer .centro #assinatura a:hover {
  border-bottom: 1px #fff dotted;
}
