@import 'vars.less';

.main{
	#form{
		width:470px;
		margin:0 auto;
		text-align:center;
		h1{
			font-size:40px;
			line-height:105%;
			margin-bottom:60px;
		}
		form{
			h2{
				line-height:100%;
				.yanone(24px);
				color:@cinza_mais_escuro;
			}
			.caixa-celulares{
				height:140px;
				padding-top:20px;
				position:relative;
				label{
					.inline;					
					vertical-align:baseline;
					width:73px;
					margin:7px 5px 0 5px;
					height:110px;
					background:url('../_imgs/layout/sombra_pequena.png') center bottom no-repeat;
					.transition;
					img{
						.transition;
						width:59px;
						display:block;
						margin:0 auto;
					}
					.sel-operad{
						position:absolute;
						opacity:0;						
					}
					&.selecionado, &:hover{
						cursor:pointer;
						img{
							margin-top:-5px;
							.transform(scale(1.1));
							filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    						-webkit-filter: grayscale(0%);
						}
					}
					&.deselecionado{
						img{
							filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
						    filter: gray;
						    -webkit-filter: grayscale(100%);
						}
					}
				}
			}
			.fone-container{
				height:60px;
				padding-top:8px;
				width:280px;
				margin:0 auto;
				display:block;
				font-size:0; white-space:nowrap;
				#input-ddd{
					.inline;
					width:40px;
					border:0;
					padding:5px;
					margin:0 10px 0 0;
					background-color:@cinza_medio;
					height:30px;
					line-height:30px;
					.arredondada(6px);
					.calibri(20px);
					color:#000;
					text-align:center;
				}
				#input-fone{
					.inline;
					width:210px;
					border:0;
					padding:5px;
					margin:0;
					background-color:@cinza_medio;
					height:30px;
					line-height:30px;
					.arredondada(6px);
					.calibri(20px);
					color:#000;
				}
				#media-gasto{
					width:270px;
					border:0;
					padding:5px;
					margin:0;
					background-color:@cinza_medio;
					height:30px;
					line-height:30px;
					.arredondada(6px);
					.calibri(20px);
					color:#000;
					text-align:center;
				}
			}
			.c-align{
				height:60px;
				padding-top:8px;
				font-size:0; white-space:nowrap;
				text-align:center;
				label{
					height:40px;
					line-height:43px;
					text-align:center;
					width:180px;
					position:relative;
					z-index:1;
					background-color:@cinza_escuro;
					color:#fff;
					.inline;
					.transition;
					.yanone(24px);
					.arredondada(6px);
					&.com-margem{ margin-right:10px; }
					input[type="radio"]{
						opacity:0;
						position:absolute;						
					}
					&.selecionado, &:hover{
						cursor:pointer;
						background-color:@vermelho;
					}
				}
			}
			.main-form{
				font-size:0; white-space:nowrap;
				label{
					padding:7px 2px 3px 8px;
					margin-bottom:8px;
					height:30px;
					line-height:30px;
					line-height:100%;
					color:#000;
					font-size:0; white-space:nowrap;
					display:block;
					text-align:left !important;
					background-color:@cinza_medio;
					.arredondada(6px);
					.calibri(10px);
					input[type="text"],
					input[type="email"],
					input[type="password"]{
						height:22px;
						line-height:22px;
						width:453px;
						margin:0;
						padding:0;
						border:0;
						background-color:@cinza_medio;
						.calibri(20px);
						color:#000;
						&:disabled{
							color:@cinza_escuro;
						}
					}
					&.large{
						width:460px;
						&.portar{
							.calibri(12px);
							color:#000;
							.transition;
							input{
								vertical-align:baseline;
							}
							&.selecionado, &:hover{
								color:@vermelho;
								cursor:pointer;
							}
						}
					}
					&.short{
						width:220px;
						.inline;
						input[type="text"],
						input[type="email"],
						input[type="password"]{
							width:220px;							
						}
						&.com-margem{ margin-right:10px !important; }
						&.uf{
							width:100px;
							select{
								width:100px;
								border:0;
								padding:0;
								margin:0;
								background-color:@cinza_medio;
								.calibri(20px);
								color:#000;
								height:22px;
								line-height:22px;
								.arredondada(0 0 3px 3px)
							}
						}
						&.cidade{
							width:340px;
							select{
								width:340px;
								border:0;
								padding:0;
								margin:0;
								background-color:@cinza_medio;
								.calibri(20px);
								color:#000;
								height:22px;
								line-height:22px;
								.arredondada(0 0 3px 3px)
							}
						}
					}
				}
			}
			.coluna{
				.inline;
				margin:30px 0;				
				width:270px;
				&.menor{ width:200px; }
				h2{
					.yanone(27px);
					color:@vermelho;
					text-align:left;
					line-height:100%;
					margin-bottom:20px;
				}
				ul{
					li{
						margin-bottom:10px;
						label{
							height:auto;
							padding:0;
							margin:0;
							background-color:transparent !important;
							.transition;
							.yanone(18px);
							color:@cinza_escuro;
							input[type="checkbox"]{
								margin-right:5px;
							}
							&.selecionado, &:hover{
								cursor:pointer;
								color:@vermelho;
							}
						}
					}
				}				
			}
			input[type="submit"]{
				height:38px;
				line-height:38px;
				display:block;
				text-align:center;
				background-color:@cinza_escuro;
				border:0;
				padding:0;
				margin:0;
				width:470px;
				text-align:center;
				color:#fff;
				.transition;
				.yanone(32px);
				.arredondada(6px);
				&:hover{
					background-color:@vermelho;
					cursor:pointer;
				}
			}
			input[type="reset"]#btn-reset{
				display:none;
			}
		}
	}
}
