.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.main #form {
  width: 470px;
  margin: 0 auto;
  text-align: center;
}
.main #form h1 {
  font-size: 40px;
  line-height: 105%;
  margin-bottom: 60px;
}
.main #form form h2 {
  line-height: 100%;
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #4d4d4d;
}
.main #form form .caixa-celulares {
  height: 140px;
  padding-top: 20px;
  position: relative;
}
.main #form form .caixa-celulares label {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  width: 73px;
  margin: 7px 5px 0 5px;
  height: 110px;
  background: url('../_imgs/layout/sombra_pequena.png') center bottom no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main #form form .caixa-celulares label img {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 59px;
  display: block;
  margin: 0 auto;
}
.main #form form .caixa-celulares label .sel-operad {
  position: absolute;
  opacity: 0;
}
.main #form form .caixa-celulares label.selecionado,
.main #form form .caixa-celulares label:hover {
  cursor: pointer;
}
.main #form form .caixa-celulares label.selecionado img,
.main #form form .caixa-celulares label:hover img {
  margin-top: -5px;
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}
.main #form form .caixa-celulares label.deselecionado img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}
.main #form form .fone-container {
  height: 60px;
  padding-top: 8px;
  width: 280px;
  margin: 0 auto;
  display: block;
  font-size: 0;
  white-space: nowrap;
}
.main #form form .fone-container #input-ddd {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 40px;
  border: 0;
  padding: 5px;
  margin: 0 10px 0 0;
  background-color: #d6d7d9;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #000;
  text-align: center;
}
.main #form form .fone-container #input-fone {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 210px;
  border: 0;
  padding: 5px;
  margin: 0;
  background-color: #d6d7d9;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #000;
}
.main #form form .fone-container #media-gasto {
  width: 270px;
  border: 0;
  padding: 5px;
  margin: 0;
  background-color: #d6d7d9;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #000;
  text-align: center;
}
.main #form form .c-align {
  height: 60px;
  padding-top: 8px;
  font-size: 0;
  white-space: nowrap;
  text-align: center;
}
.main #form form .c-align label {
  height: 40px;
  line-height: 43px;
  text-align: center;
  width: 180px;
  position: relative;
  z-index: 1;
  background-color: #666666;
  color: #fff;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 24px;
  font-weight: normal;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.main #form form .c-align label.com-margem {
  margin-right: 10px;
}
.main #form form .c-align label input[type="radio"] {
  opacity: 0;
  position: absolute;
}
.main #form form .c-align label.selecionado,
.main #form form .c-align label:hover {
  cursor: pointer;
  background-color: #990000;
}
.main #form form .main-form {
  font-size: 0;
  white-space: nowrap;
}
.main #form form .main-form label {
  padding: 7px 2px 3px 8px;
  margin-bottom: 8px;
  height: 30px;
  line-height: 30px;
  line-height: 100%;
  color: #000;
  font-size: 0;
  white-space: nowrap;
  display: block;
  text-align: left !important;
  background-color: #d6d7d9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 10px;
  font-weight: normal;
}
.main #form form .main-form label input[type="text"],
.main #form form .main-form label input[type="email"],
.main #form form .main-form label input[type="password"] {
  height: 22px;
  line-height: 22px;
  width: 453px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #d6d7d9;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #000;
}
.main #form form .main-form label input[type="text"]:disabled,
.main #form form .main-form label input[type="email"]:disabled,
.main #form form .main-form label input[type="password"]:disabled {
  color: #666666;
}
.main #form form .main-form label.large {
  width: 460px;
}
.main #form form .main-form label.large.portar {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main #form form .main-form label.large.portar input {
  vertical-align: baseline;
}
.main #form form .main-form label.large.portar.selecionado,
.main #form form .main-form label.large.portar:hover {
  color: #990000;
  cursor: pointer;
}
.main #form form .main-form label.short {
  width: 220px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main #form form .main-form label.short input[type="text"],
.main #form form .main-form label.short input[type="email"],
.main #form form .main-form label.short input[type="password"] {
  width: 220px;
}
.main #form form .main-form label.short.com-margem {
  margin-right: 10px !important;
}
.main #form form .main-form label.short.uf {
  width: 100px;
}
.main #form form .main-form label.short.uf select {
  width: 100px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #d6d7d9;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #000;
  height: 22px;
  line-height: 22px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.main #form form .main-form label.short.cidade {
  width: 340px;
}
.main #form form .main-form label.short.cidade select {
  width: 340px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #d6d7d9;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #000;
  height: 22px;
  line-height: 22px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.main #form form .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 30px 0;
  width: 270px;
}
.main #form form .coluna.menor {
  width: 200px;
}
.main #form form .coluna h2 {
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 27px;
  font-weight: normal;
  color: #990000;
  text-align: left;
  line-height: 100%;
  margin-bottom: 20px;
}
.main #form form .coluna ul li {
  margin-bottom: 10px;
}
.main #form form .coluna ul li label {
  height: auto;
  padding: 0;
  margin: 0;
  background-color: transparent !important;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #666666;
}
.main #form form .coluna ul li label input[type="checkbox"] {
  margin-right: 5px;
}
.main #form form .coluna ul li label.selecionado,
.main #form form .coluna ul li label:hover {
  cursor: pointer;
  color: #990000;
}
.main #form form input[type="submit"] {
  height: 38px;
  line-height: 38px;
  display: block;
  background-color: #666666;
  border: 0;
  padding: 0;
  margin: 0;
  width: 470px;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Yanone Kaffeesatz', 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 32px;
  font-weight: normal;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.main #form form input[type="submit"]:hover {
  background-color: #990000;
  cursor: pointer;
}
.main #form form input[type="reset"]#btn-reset {
  display: none;
}
