.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.main {
  font-size: 0;
  white-space: nowrap;
}
.main .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 490px;
  height: 470px;
}
.main .coluna.box-selecao {
  height: 405px;
  width: 420px;
  padding: 65px 35px 0 35px;
  background: url('../_imgs/layout/home-selecao-bg.png') left top no-repeat;
}
.main .coluna h1 {
  margin-top: 50px;
  line-height: 130%;
}
.main .coluna .texto {
  padding-top: 20px;
  padding-left: 110px;
}
.main .coluna .texto h1.sombreado {
  font-weight: bold;
  font-size: 48px;
  -webkit-text-shadow: 3px 3px 0px #b5d3d3;
  -moz-text-shadow: 3px 3px 0px #b5d3d3;
  -ms-text-shadow: 3px 3px 0px #b5d3d3;
  -o-text-shadow: 3px 3px 0px #b5d3d3;
  text-shadow: 3px 3px 0px #b5d3d3;
  line-height: 110%;
  margin-top: 0;
}
.main .coluna .texto h1.sombreado .maior {
  font-size: 70px;
}
.main .coluna .texto p {
  width: 300px;
  margin-top: 15px;
  line-height: 130%;
}
.main .box-selecao {
  position: relative;
}
.main .box-selecao h2 {
  text-align: center;
  color: #4d4d4d;
}
.main .box-selecao a {
  position: absolute;
  width: 130px;
  display: block;
  padding-bottom: 13px;
  padding-top: 5px;
  background: url('../_imgs/layout/sombra.png') center bottom no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .box-selecao a img {
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .box-selecao a:hover {
  z-index: 5 !important;
  padding-bottom: 33px;
}
.main .box-selecao a:hover img {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.main .box-selecao #link-cel-claro {
  left: 45px;
  top: 170px;
  z-index: 2;
}
.main .box-selecao #link-cel-claro:hover {
  top: 150px;
}
.main .box-selecao #link-cel-tim {
  top: 180px;
  left: 140px;
  z-index: 3;
}
.main .box-selecao #link-cel-tim:hover {
  top: 160px;
}
.main .box-selecao #link-cel-vivo {
  left: 235px;
  top: 165px;
  z-index: 2;
}
.main .box-selecao #link-cel-vivo:hover {
  top: 145px;
}
.main .box-selecao #link-cel-oi {
  left: 334px;
  top: 148px;
  z-index: 1;
}
.main .box-selecao #link-cel-oi:hover {
  top: 128px;
}
