@import 'vars.less';

.main{
	font-size:0; white-space:nowrap;
	.coluna{
		.inline;
		width:490px;
		height:470px;
		&.box-selecao{
			height:405px;
			width:420px;
			padding:65px 35px 0 35px;
			background:url('../_imgs/layout/home-selecao-bg.png') left top no-repeat;
		}
		h1{
			margin-top:50px;
			line-height:130%;
		}
		.texto{
			padding-top:20px;
			padding-left:110px;
			h1.sombreado{
				font-weight:bold;
				font-size:48px;
				-webkit-text-shadow: 3px 3px 0px #b5d3d3;
				-moz-text-shadow: 3px 3px 0px #b5d3d3;
				-ms-text-shadow: 3px 3px 0px #b5d3d3;
				-o-text-shadow: 3px 3px 0px #b5d3d3;
				text-shadow: 3px 3px 0px #b5d3d3;
        		line-height:110%;
        		margin-top:0;
				.maior{font-size:70px;}
			}
			p{
				width:300px;
				margin-top:15px;
				line-height:130%;
			}
		}
	}
	.box-selecao{
		position:relative;
		h2{
			text-align:center;
			color:@cinza_mais_escuro;
		}
		a{
			position:absolute;
			width:130px;
			display:block;
			padding-bottom:13px;
			padding-top:5px;
			background:url('../_imgs/layout/sombra.png') center bottom no-repeat;
			.transition;
			img{
				display:block;
				margin:0 auto;
				.transition;
			}
			&:hover{			
				z-index:5 !important;
				padding-bottom:33px;
				img{					
					.transform(scale(1.1));
				}
			}
		}
		#link-cel-claro{
			left:45px;
			top:170px;
			z-index:2;
			&:hover{top:150px;}
		}
		#link-cel-tim{
			top:180px;
			left:140px;
			z-index:3;
			&:hover{top:160px;}
		}
		#link-cel-vivo{
			left:235px;
			top:165px;
			z-index:2;
			&:hover{top:145px;}
		}
		#link-cel-oi{
			left:334px;
			top:148px;
			z-index:1;
			&:hover{top:128px;}
		}
	}
}